
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
###/vendor/ ### commented because iut n'a plus composer ^^
.vscode
###< symfony/framework-bundle ###
