{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <img src="{{ asset('images/' ~ band.getPicture().getName()) }}" class="card-img-top" alt="{{ band.getName() }}">
        <div class="card-body">
            <h5 class="card-title">{{ band.getName() }}</h5>
            <p class="card-text">{{ band.getDescription() }}</p>
        </div>
    </div>
{% endblock body %}